vdmpp:
    image: jbking/vppgde
    stdin_open: true
    tty: true
    volumes: 
        - ./:/tmp
        - /tmp/.X11-unix:/tmp/.X11-unix
        - ${XAUTHORITY}:/tmp/Xauthority
    command: /bin/bash
    environment:
        - DISPLAY=${DISPLAY}
        - XAUTHORITY=/tmp/Xauthority
